		<!-- Header -->
		<header id="wn__header" class="header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<div class="logo">
							<a href="index.html">
								<img src="images/logo/logo.png" alt="logo images">
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a href="index.html">Trang chủ</a></li>
								<li class="drop"><a href="#">Shop</a>
								</li>
								<li class="drop"><a href="shop-grid.html">Sách</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li class="title">Thể loại</li>
											<li><a href="shop-grid.html">Tạp chí </a></li>
											<li><a href="shop-grid.html">Kinh doanh </a></li>
											<li><a href="shop-grid.html">Ẩm thực </a></li>
											<li><a href="shop-grid.html">Sức khỏe </a></li>
											<li><a href="shop-grid.html">Lịch sử </a></li>
										</ul>
									</div>
								</li>
								<li class="drop"><a href="#">Trang</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li><a href="my-account.html">Đăng nhập/ Đăng kí</a></li>
											<li><a href="checkout.html">Trang thanh toán</a></li>
											<li><a href="wishlist.html">Wishlist Page</a></li>
											<li><a href="error404.html">404 Page</a></li>
											<li><a href="faq.html">Faq Page</a></li>
											<li><a href="team.html">Team Page</a></li>
										</ul>
									</div>
								</li>
								<li><a href="contact.html">Liên hệ</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<ul class="header__sidebar__right d-flex justify-content-end align-items-center">
							<li class="shop_search"><a class="search__active" href="#"></a></li>
							<li class="wishlist"><a href="#"></a></li>
							<li class="shopcart"><a class="cartbox_active" href="#"><span class="product_qun">3</span></a>
								<!-- Start Shopping Cart -->
								<div class="block-minicart minicart__active">
									<div class="minicart-content-wrapper">
										<div class="micart__close">
											<span>Đóng</span>
										</div>
										<div class="items-total d-flex justify-content-between">
											<span>3 sản phẩm</span>
											<span>Tổng tiền</span>
										</div>
										<div class="total_amount text-right">
											<span>550.000 VNĐ</span>
										</div>
										<div class="mini_action checkout">
											<a class="checkout__btn" href="cart.html">Đi tới trang thanh toán</a>
										</div>
										<div class="single__items">
											<div class="miniproduct">
												<div class="item01 d-flex">
													<div class="thumb">
														<a href="product-details.html"><img src="images/product/sm-img/1.jpg" alt="product images"></a>
													</div>
													<div class="content">
														<h6><a href="product-details.html">Nhà giả kim</a></h6>
														<span class="prize">100.000 VNĐ</span>
														<div class="product_prize d-flex justify-content-between">
															<span class="qun">Số lượng: 01</span>
															<ul class="d-flex justify-content-end">
																<li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
																<li><a href="#"><i class="zmdi zmdi-delete"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="item01 d-flex mt--20">
													<div class="thumb">
														<a href="product-details.html"><img src="images/product/sm-img/3.jpg" alt="product images"></a>
													</div>
													<div class="content">
														<h6><a href="product-details.html">Đắc nhân tâm</a></h6>
														<span class="prize">150.000 VNĐ</span>
														<div class="product_prize d-flex justify-content-between">
															<span class="qun">Số lượng: 01</span>
															<ul class="d-flex justify-content-end">
																<li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
																<li><a href="#"><i class="zmdi zmdi-delete"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="item01 d-flex mt--20">
													<div class="thumb">
														<a href="product-details.html"><img src="images/product/sm-img/2.jpg" alt="product images"></a>
													</div>
													<div class="content">
														<h6><a href="product-details.html">Harry Porter</a></h6>
														<span class="prize">300.000 VNĐ</span>
														<div class="product_prize d-flex justify-content-between">
															<span class="qun">Số lượng: 01</span>
															<ul class="d-flex justify-content-end">
																<li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
																<li><a href="#"><i class="zmdi zmdi-delete"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End Shopping Cart -->
							</li>
							<li class="setting__bar__icon"><a class="setting__active" href="#"></a>
								<div class="searchbar__content setting__block">
									<div class="content-inner">
										<div class="switcher-currency">
											<strong class="label switcher-label">
												<span>Tài khoản</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<div class="setting__menu">
														<span><a href="#">Cài đặt tài khoản</a></span>
														<span><a href="#">Đăng nhập</a></span>
														<span><a href="#">Đăng kí</a></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- Start Mobile Menu -->
				<div class="row d-none">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a href="index.html">Trang chủ</a></li>
								<li><a href="#">Trang</a>
									<ul>
										<li><a href="my-account.html">Đăng nhập/ Đăng kí</a></li>
											<li><a href="checkout.html">Trang thanh toán</a></li>
											<li><a href="wishlist.html">Wishlist Page</a></li>
											<li><a href="error404.html">404 Page</a></li>
											<li><a href="faq.html">Faq Page</a></li>
											<li><a href="team.html">Team Page</a></li>
									</ul>
								</li>
								<li><a href="shop-grid.html">Shop</a>
								</li>
								<li><a href="contact.html">Liên hệ</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- End Mobile Menu -->
	            <div class="mobile-menu d-block d-lg-none">
	            </div>
	            <!-- Mobile Menu -->	
			</div>		
		</header>
		<!-- //Header -->