<!--Bắt đầu từ đây -->
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
                <form id="search_mini_form" class="minisearch" action="#">
                    <div class="field__search">
                        <input type="text" placeholder="Search entire store here...">
                        <div class="action">
                            <a href="#"><i class="zmdi zmdi-search"></i></a>
                        </div>
                    </div>
                </form>
                <div class="close__wrap">
                    <span>Đóng</span>
                </div>
            </div>
            <!-- End Search Popup -->
            <!-- Start Bradcaump area -->
            <div class="ht__bradcaump__area bg-image--3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Trạng thái Đơn Hàng</h2>
                                <nav class="bradcaump-content">
                                  <a class="breadcrumb_item" href="/">Trang Chủ</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb_item active">Trạng Thái Đơn Hàng</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Bradcaump area -->
            <!-- cart-main-area start -->
            <div class="cart-main-area section-padding--lg bg--white">
                   
                <div class="shipping-info">
                        <div class="shipping-delivery-info"><span class="pull-left text delivery-success">Đã giao ngày 12 tháng 4 2019</span>               
                        </div> 
                    <div class="progress-info-division">   
                                                                             
                        <div class="container">
                                <ul class="progressbar">
                                  <li class="active">Đang Xử Lý</li>
                                  <li class="active">Đang Giao Hàng</li>
                                  <li class="active">Đã Giao Hàng</li>
                                </ul>
                              </div>
                        <div class="tracking-list" data-spm-anchor-id="a2o4n.order_details.0.i2.512f705b9QZDkQ">                                        
                                    <div class="translate" style="left: 602px;"></div>
                                    <div class="tracking-list-info-table">
                                                <div class="tracking-item">
                                                    <div class="text desc info tracking-item-time light-gray">12 thg 4 2019 - 11:27</div>
                                                    <div class="tracking-item-content"><span class="text desc">Kiện hàng của bạn đã được giao thành công. Cám ơn bạn đã mua sắm tại Lazada và hy vọng bạn sẽ tiếp tục ủng hộ chúng tôi cho những lần mua tới.</span></div>
                                                </div>
                                                <div class="tracking-item ">
                                                        <div class="text desc info tracking-item-time light-gray">12 thg 4 2019 - 07:13</div>
                                                        <div class="tracking-item-content"><span class="text desc">Gói hàng đang được giao đến bạn. LEX VN sẽ liên lạc với bạn để sắp xêp về việc giao hàng.</span></div>
                                                </div>
                                                <div class="tracking-item ">
                                                        <div class="text desc info tracking-item-time light-gray">11 thg 4 2019 - 00:44</div>
                                                        <div class="tracking-item-content"><span class="text desc">Kiện hàng của bạn được vận chuyển bởi đối tác giao hàng của Lazada: LEX VN với mã vận đơn LMP0008267463VN.</span></div>
                                                </div>
                                                <div class="tracking-item ">
                                                        <div class="text desc info tracking-item-time light-gray">10 thg 4 2019 - 11:13</div>
                                                        <div class="tracking-item-content"><span class="text desc">Kiện hàng của bạn đã được đơn vị vận chuyển tiếp nhận.</span></div>
                                                </div>
                                                <div class="tracking-item ">
                                                        <div class="text desc info tracking-item-time light-gray">10 thg 4 2019 - 07:41</div>
                                                        <div class="tracking-item-content"><span class="text desc">Kiện hàng của bạn đã được đóng gói và đang được chuyển đến đối tác giao hàng LEX VN.</span></div>
                                                </div>
                                                <div class="tracking-item ">
                                                        <div class="text desc info tracking-item-time light-gray">08 thg 4 2019 - 18:57</div>
                                                        <div class="tracking-item-content"><span class="text desc">Yêu cầu đặt hàng của bạn đã được tiếp nhận. Trạng thái đơn hàng sẽ tiếp tục được cập nhật tại mục Tài khoản &gt; Đơn hàng của tôi.</span></div>
                                                </div>
                                                <div class="tracking-item ">
                                                        <div class="text desc info tracking-item-time light-gray">08 thg 4 2019 - 18:57</div>
                                                        <div class="tracking-item-content"><span class="text desc">Cám ơn bạn đã lựa chọn mua sắm tại BookStore! </span></div>
                                                </div>
                                                <div class="tracking-item ">
                                                        <div class="text desc info tracking-item-time light-gray">08 thg 4 2019 - 18:57</div>
                                                        <div class="tracking-item-content"><span class="text desc">Yêu cầu đặt hàng của bạn đã được tiếp nhận.</span></div>
                                                </div>
                                    </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- cart-main-area end -->