<!doctype html>
<html class="no-js" lang="vi">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/body_index %>
    <% include partials/header %>
    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>